{% load tz %}
<style type="text/css">
    .card{
        max-width: 700px;
        width: 100%;
    }
    .card-body{
        padding: 20px;
        width: 100%;
    }

    .like-count{
        color: blue;
        font-size: 1.5em
    }

    .dislike-count{
        color: red;
        font-size: 1.5em
    }
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>

{%if blog_post%}
<div class="container">
    <div class="row">

        <!-- Blog Post -->
        <div class="card m-auto">
            <img class="card-img-top" src="{{blog_post.image.url}}" alt="Image is not available at this moment">
            <div class="card-body mt-2 mb-2">
                <h2 class="card-title">{{blog_post.title}}</h2>
                <div class="card-footer text-muted text-right">
                  -By {{blog_post.author}} on{%timezone "Asia/Calcutta"%} {{blog_post.datetime_published}}{% endtimezone %}
                </div>
                <p class="card-text">{{blog_post.body|truncatechars:15|linebreaksbr}}
                    <a href="{% url 'blog:detail' post.slug%}">(Read more)</a>
                </p>
                <hr>
                <div id="like-count-{{ blog_post.id }}" class="like-count" style="display:inline; float:left">
                   {{ blog_post.like_count }} Likes
                </div>
                <div id="dislike-count-{{ blog_post.id }}" class="dislike-count" style="display:inline; float:right">
                   {{ blog_post.dislike_count }} Dislikes
                </div>

            </div>
        </div>
    </div>
</div>

{%else%}
<div class="container">
    <div class="row">
        <div class="card m-auto">
            <div class="card-body mt-2 mb-2">
                <h2 class="card-title">
                    Such emptiness.....
                </h2>
            </div>
        </div>
    </div>
</div>
{%endif%}
