{%extends 'base.html'%}
{% load tz %}
{% load static %}
{% block title %}
{{ blog_post.title }}
{% endblock title%}

{%block content%}
<style type="text/css">
    .btn-del{
        background-color: #a41515;
        text-decoration-color: white;
    }


    .card{
        max-width: 700px;
        padding: 10px;
    }

    .container{
        padding: 20px;
        margin-top: 80px;
    }




    .fa-thumbs-up{
    color:blue;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.fa-thumbs-o-up{
    color:blue;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.fa-thumbs-down{
    color:red;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.fa-thumbs-o-down{
    color:red;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.like-count{
    color: blue;
    font-size: 1.5em
}

.dislike-count{
    color: red;
    font-size: 1.5em
}

</style>


<div class="container">
    <div class="row">

        <!--Blog post-->
        <div class="card m-auto">
            <img class="card-img-top" src="{{blog_post.image.url}}" alt="Image is not available at this moment">

            <div class="card-body my-2">
                <h2 class="card-title">{{blog_post.title}}</h2>
                <div class="card-footer text-muted text-right">
                    -By {{blog_post.author}} on{%timezone "Asia/Calcutta"%} {{blog_post.datetime_published}}{% endtimezone %}
                </div>
                <p class="card-text">{{blog_post.body|linebreaksbr}}</p>

                {%if blog_post.author == request.user%}
                    <a href="{%url 'blog:edit' blog_post.slug%}" class="btn btn-primary">Edit</a>
                    <a id="del" href="{%url 'blog:delete' blog_post.slug%}" class="btn btn-del">Delete</a>

                {%endif%}
            </div>
        <hr>
        <div id="{{ blog_post.id }}">
                <div style="display:inline; float:left">
                    <div id="{{ blog_post.id }}-like">
                        {% if liked %}
                            <i onclick="handleAction({{ blog_post.id }},{{ request.user.id }},1)" class="fa fa-thumbs-up">Liked!</i>
                        {% else %}
                            <i onclick="handleAction({{ blog_post.id }},{{ request.user.id }},1)" class="fa fa-thumbs-o-up">Like</i>
                        {% endif %}
                    </div>
                    <div id="like-count-{{ blog_post.id }}" class="like-count" >
                       {{ blog_post.like_count }} Likes
                    </div>
                </div>
                <div style="display:inline; float:right">
                    <div id="{{ blog_post.id }}-dislike">
                        {% if disliked %}
                            <i onclick="handleAction({{ blog_post.id }},{{ request.user.id }},0)" class="fa fa-thumbs-down">Disliked!</i>
                        {% else %}
                            <i onclick="handleAction({{ blog_post.id }},{{ request.user.id }},0)" class="fa fa-thumbs-o-down">Dislike</i>
                        {% endif %}
                    </div>
                    <div id="dislike-count-{{ blog_post.id }}" class="dislike-count" >
                       {{ blog_post.dislike_count }} Dislikes
                    </div>
                </div>
            </div>
        <hr>


        <form action="{% url 'blog:post_comment' %}" method="post">{% csrf_token %}
            <div class="form-group">
                <label for="content">Post comment...</label>
                <input type="text" class="form-control" name="content" placeholder="Enter comment...">
            </div>
            <input type="hidden" name="postId" value="{{ blog_post.id }}">
            <button type="submit" class="btn btn-primary">Post...</button>
        </form>
        <br>
        <h3>Comments({{ comments|length }})</h3>
        <div class="mx-2">
            {% include 'blog/snippets/replies_snippet.html' with replies=comments repd=replies%}
        </div>

        </div>
        <!--Blog post-->

    </div>
</div>

<script type="text/javascript">


function getCookie(name) {
let cookieValue = null;
if (document.cookie && document.cookie !== '') {
  const cookies = document.cookie.split(';');
  for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
      }
  }
}
return cookieValue;
}


function handleAction(postId,userId,action){
    const csrftoken = getCookie('csrftoken');
    let url='{%url "blog:react"%}'
    const method='POST'
    const data=JSON.stringify({
        postId:postId,
        userId:userId,
        action:action
    })

    const xhr=new XMLHttpRequest()
    xhr.open(method,url)
    xhr.setRequestHeader("Content-Type","application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken",csrftoken)
    xhr.onload=function(){
        const dataReturned=JSON.parse(xhr.response);
        changeHTML(dataReturned,postId,userId);
    }
    xhr.send(data)

}


function changeHTML(dataReturned,postId,userId){
    let likeElement=document.getElementById(`${postId}-like`)
    let dislikeElement=document.getElementById(`${postId}-dislike`)
    let likeCountElement=document.getElementById(`like-count-${postId}`)
    let dislikeCountElement=document.getElementById(`dislike-count-${postId}`)

    if(dataReturned.liked){
        likeElement.innerHTML=`<i onclick="handleAction(${postId},${userId},1)" class="fa fa-thumbs-up">Liked!</i>`
        }
    else{
        likeElement.innerHTML=`<i onclick="handleAction(${postId},${userId},1)" class="fa fa-thumbs-o-up">Like</i>`
    }

    if(dataReturned.disliked){
        dislikeElement.innerHTML=`<i onclick="handleAction(${postId},${userId},0)" class="fa fa-thumbs-down">Disliked!</i>`
    }
    else {
        dislikeElement.innerHTML=`<i onclick="handleAction(${postId},${userId},0)" class="fa fa-thumbs-o-down">Dislike</i>`
    }

    likeCountElement.innerHTML=`${dataReturned.likes} Likes`
    dislikeCountElement.innerHTML=`${dataReturned.dislikes} Dislikes`
}


</script>

{%endblock content%}


