{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title%}

{% block content %}
<style type="text/css">

    @media (max-width: 768px) {
        .right-column{
            margin-left: 0px;
        }
    }

    @media (min-width: 768px) {
        .right-column{
            margin-left: 20px;
        }
    }

    .blog-post-container{
        margin-top: 90px;
        margin-bottom: 20px;
        width: 100%;
    }
    .create-post-bar{
        background-color: #fff;
        margin-bottom:20px;
        margin-top: 90px;
    }

    .left-column{
        padding:0px;
    }

    .right-column{
        padding:0px;
    }
    .lead{
        font-size: 17px;
    }

</style>


<div class="container">
    <div class="row">

        <!-- blog feed -->
        <div class="left-column col-lg-7 offset-lg-1">


            <!-- Blog posts-->
            {%if blog_posts%}
                {% for post in blog_posts %}
                    <div class="blog-post-container">
                        {% include 'blog/snippets/blog_post_snippet.html' with blog_post=post %}
                    </div>
                {% endfor %}
            {%else%}
                <div class="blog-post-container">
                    {% include 'blog/snippets/blog_post_snippet.html' %}
                </div>
            {%endif%}
            <!-- End Blog posts-->
            <!--Pagination-->
            {%include 'blog/snippets/blog_post_pagination.html' with blog_posts=blog_posts%}
        </div>
        <!-- end blog feed -->

        {% comment %}
        <!-- Right 'create post' column  -->
        <div class="right-column col-lg-3 d-lg-flex d-none flex-column">

            <div class="card create-post-bar d-flex flex-column p-3">
                <img class="img-fluid d-block m-auto pb-2" src="{% static 'post.jpg' %}" width="144" height="72" alt="post.jpg">
                <p class="lead text-center" >RECursion Auditions</p>
                <p class="m-auto"><a class="btn btn-primary" href="{% url 'blog:create' %}">Create post</a></p>
            </div>

        </div>
        <!-- end Right 'create post' column  -->
        {% endcomment %}
    </div>
</div>

<script type="text/javascript">

function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}



</script>


{% endblock content %}


